/*html, body {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: block;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-family: "Nunito", sans-serif;*/
/*    color: #000;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

#form-wrapper {
    display: flex;
    justify-content: center;
    /*width: 100%;*/
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}
#button-price{
    margin-top: 46px;
    background-color: white;
    height: 36px;
    width: 121px;
    border: 2px solid #000000;
    border-radius: 20px;
    font-weight: 700;
}
#button-price:hover{
    background-color: #692da6;
    border: 2px solid #692da6;
}
form {
    width: 90%;
    max-width: 500px;
}
form #form-title {
    margin-top: 0;
    font-weight: 400;
    text-align: center;
}
form #debt-amount-slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
form #debt-amount-slider::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100%;
    width: calc(100% * (4 / 5));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
}
form #debt-amount-slider input, form #debt-amount-slider label {
    box-sizing: border-box;
    flex: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
form #debt-amount-slider label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
form #debt-amount-slider label::before {
    content: attr(data-debt-amount);
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0.85;
    transition: all 0.15s ease-in-out;
}
form #debt-amount-slider label::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
form #debt-amount-slider label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);
}
form #debt-amount-slider input {
    display: none;
}
form #debt-amount-slider input:checked + label::before {
    font-weight: 800;
    opacity: 1;
}
form #debt-amount-slider input:checked + label::after {
    border-width: 4px;
    transform: translate(-50%, -50%) scale(0.75);
}

form + button:focus::before {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}