<th:block th:fragment="footer">

  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-box about-widget">
            <h2 class="widget-title">Giới thiệu</h2>
            <p>Vừa mới ra mắt khoảng tháng trước.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box get-in-touch">
            <h2 class="widget-title">Địa chỉ</h2>
            <ul>
              <li>28 Nguyễn Tri Phương, Huế.</li>
              <li>GanhmeFood@gmail.com</li>
              <li>0968 - 6868 - 68</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box pages">
            <h2 class="widget-title">Trang</h2>
            <ul>
              <li><a href="index.html">Trang Chủ</a></li>
              <li><a href="about.html">Giới Thiệu</a></li>
              <li><a href="services.html">Cửa Hàng</a></li>
              <li><a href="news.html">Mới</a></li>
              <li><a href="contact.html">Liên Hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box subscribe">
            <h2 class="widget-title">Đăng Kí</h2>
            <p>Đăng kí để theo dõi những sản phẩm mới nhất</p>
            <form action="index.html">
              <input type="email" placeholder="Email">
              <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>